
*{ 
    margin: 0px;
    padding: 0px;

}

#cuerpo{
    background-image: linear-gradient(to bottom, rgb(242, 160, 51) ,rgb(247, 199, 137) );
    
}

.header_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.header_items{
    display: flex;
    flex-direction: row;
    list-style: none;
    text-align: center;
    padding-top: 20px; 
    
}

.header .header_menu ul li{
    display: block;
    
    
}

.header .header_menu ul li a{
    font-size: 15px;
    padding: 20px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    
}

.logo{
    margin-left: 40px;
    margin-bottom: 0px;
    font-size: 30px;
    font-weight: bold;
}


.titulo-uno{
    color: black;
    text-align: center;
    font-size: 55px;
    background-image: url(../Imagenes/fondo.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    

}

.subtitulo{
    color: black;
    text-align: center;
    font-style: italic;
}

.galeria{
    border-radius: 15px;
    text-align: center;
    width: 300px;
    justify-self: center;
    align-self: center;
    padding: 20px;
    font-size: 10px;
    margin: 10px;
}

.contenidogaleria{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
}

.galeria img{
    width: 100%;
    height: 160px;
    border-radius: 15px;
}

.textogaleria{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.formulario{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    border-style: double;
}

.formulario .formulario_uno{
    margin-left: 15px;
    padding: 15px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    
}

.presentacion__titulo{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    padding: 10px;
    color: black;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}  

.presentacion__parrafo{
    display: flex;
    text-align:justify;
    padding: 50px;
}

.centrado{
    display: flex;
    justify-content: center;
    align-items: center ;
}

.mapa{
    display: inline-block;
    margin: 30px auto;
    border-style: dashed;
    border-radius: 50px;
}

.foto1{
    border-top-left-radius: 100px;
}

.carousel{
    width: 450px;
    margin: 50px 0;
}

.redondeado{
    border-radius: 50px;
}


/*.imagen_carrousel{
    /*display: flex;
    justify-content:center;
    align-content: center;
    height: 600px;
    width: 600px;
    
}*/


.footer{
    background-color:rgb(242, 160, 51) ;
    margin-top: 10px;
    
}

.iconos{
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    

}







@media screen and (Max-width:700px){

    .header_items{
        font-size: 10px;
        padding: 10px;
        color: black;
        
    }



    .galeriadeclases{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        height: 20%;
        
    }
}

@media screen and (min-width:0px) and (max-width: 800px){
    .header_items{
        flex-direction: column;

    }
}


